{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static',filename='js/city.js') }}" ></script>
{% endblock %}

{% block main %}


<form action="/" method="POST">
        <div class="form-group" style="margin-left:238px;text-align:center;width: 400px;">
            <label for="scenes" style="margin-left: -348px;color: #5688ee">选择场景</label>
                <select class="form-control" id="scenes" name="scene">
                    <option value="居民区">居民区</option>
                    <option value="医院">医院</option>
                    <option value="美食">美食</option>
                    <option value="美景">美景</option>
                </select>
            <label for="province" style="margin-left: -348px;color: #5688ee">选择省份</label>
            <select class="form-control" id="province" name="province"></select>
            <label for="city" style="margin-left: -348px;color: #5688ee">选择城市</label>
            <select class="form-control" id="city" name="city"></select>
        </div>
        <input type="submit" class="btn btn-default" style="margin-left: 585px;">
</form>

<script>
    (function(){
        var pHtmlStr = '';
        for(var name in pc){
            pHtmlStr = pHtmlStr + '<option>'+name+'</option>';
        }
        $("#province").html(pHtmlStr);
        $("#province").change(function(){
            var pname = $("#province option:selected").text();
            var pHtmlStr = '';
            var cityList = pc[pname];
            for(var index in cityList){
                pHtmlStr = pHtmlStr + '<option>'+cityList[index]+'</option>';
            }
            $("#city").html(pHtmlStr);
        });
        $("#province").change();
    })();

</script>


</form>



<script>
$(function() {
    $(".dropdown-toggle").dropdown('toggle');
});
</script>
{% endblock %}
